@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


nav {
    background-color: #333;
    padding: 10px;
}


nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


nav a:hover {
    text-decoration: underline;
}


footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


